In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
## Loading the trained model
model = load_model('churn_model.h5')

with open('gender_label_encoder.pkl', 'rb') as file:
    gender_label_encoder = pickle.load(file)


with open('onehotencoder.pkl', 'rb') as file:
    onehotencoder = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [6]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
    
}

In [7]:
## One hot encoding the geography

encoded_geo = onehotencoder.transform([[input_data['Geography']]]).toarray()

encoded_geo_df = pd.DataFrame(encoded_geo, columns = onehotencoder.get_feature_names_out(['Geography']))

encoded_geo_df

c:\Users\Hp\Neural Networks Project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [8]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [9]:
## Encoding Gender

input_df['Gender'] = gender_label_encoder.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [10]:
input_df = pd.concat([input_df.drop('Geography', axis = 1), encoded_geo_df], axis = 1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [11]:
## Scaling the input data 
scaled_input_df = scaler.transform(input_df)
scaled_input_df

array([[-0.52111599,  0.91601335,  0.10961719, -0.68538967, -0.2569057 ,
         0.8095029 ,  0.64259497,  0.9687384 , -0.87203322,  0.98560362,
        -0.5698444 , -0.57369368]])

In [12]:
prediction = model.predict(scaled_input_df)
prediction

1/1 [==============================] - 3s 3s/step

array([[0.05771853]], dtype=float32)

In [13]:
if prediction <0.5:
    print("CUstomer is not likely to churn")
else:
    print("Customer is likely to churn")

CUstomer is not likely to churn